  
.Home{
    /* todo- mobile query */
    height:100vh;
    border: 1px solid black;
}
.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10% auto;
    align-self: center;
    /* justify-content: center; */
    height: 50%;
    width: 30%;
    border: 1px solid black;
  }
  .image{
      height:60%;
  }
.description{
    display: flex;
    margin-top: 3rem;
    justify-content:center;
    /* justify-self: center; */
}

.buttons{
    display: flex;
    justify-content:space-around;
}